.rec-left {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 5rem;
}

.rec-left h2 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.05;
}

.rec-left-text-destaque {
    color: var(--primary-color);
    font-size: 3.813rem;
}

.rec-left p {
    font-size: 1.125rem;
    color: #9CA3AF;
    line-height: 1.7;
    max-width: 36.25rem;
    padding-top: 1rem;
}

.rec-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2.5rem;
    padding-top: 5rem;
}

.rec-card {
    /* border: 2px solid var(--primary-color); */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 40px 30px;
}

.rec-card-icon {
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.875rem;
    background-color:#121826;
    border:1px solid rgba(255,255,255,.08);
    background: linear-gradient(135deg, #0b3304 0%, #031401 100%);
    border: 1px solid rgba(57, 255, 20, 0.15);
}

.rec-card-text h3 {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.rec-card-text p {
    color: #9CA3AF;
    line-height: 1.6;
    margin-top: 8px;
}