.seg-badge {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .6rem 1rem;
    border-radius: 62.438rem;
    border: 1px solid rgba(57, 255, 20, 0.2);
    background-color: var(--secondary-color);
}

.seg-badge span {
    color: #39FF14;
    font-size: 0.875rem;
    font-weight: 600;
}

.seg-left {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 10rem;
}

.seg-left h2 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.05;
}

.seg-left-text-destaque {
    color: var(--primary-color);
    font-size: 3.813rem;
}

.seg-left p {
    font-size: 1.125rem;
    color: #9CA3AF;
    line-height: 1.7;
    max-width: 36.25rem;
    padding-top: 1rem;
}

.seg-cpv-text {
    text-align: center;
}

.seg-cpv {
    /* outline: 2px solid var(--primary-color); */
    margin-top: 3rem;

}

.seg-cpv-text h2 {
    font-size: 3.5rem;
    color: #FFFFFF;
}

.seg-cpv-text span {
    color: var(--primary-color);
}

.seg-cpv-text p {
    color: #77777D;
    margin-top: 5px;
    font-size: 1.4rem;
}

.seg-cpv-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.seg-cpv-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #A0A3A8;
    padding: 26px;
    border-radius: 10px;
}

.seg-cpv-card-text h2 {
    margin-top: 1rem;
    color: #FFFFFF;
}

.seg-cpv-card-text p {
    margin-top: 0.5rem;
    color: #77777D;
}