.seg-content {
    outline: 2px solid var(--primary-color);
    display: flex;
    flex: 1.2;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
}

.seg-left {
    /* outline: 2px solid var(--primary-color); */
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 2.5rem;
    /* padding-top: 5rem; */
}

.seg-left h2 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.05;
}

.seg-left-text-destaque {
    color: var(--primary-color);
    font-size: 3.813rem;
}

.seg-left p {
    font-size: 1.5rem;
    color: #9CA3AF;
    line-height: 1.7;
    max-width: 36.25rem;
    padding-top: 1rem;
}

.seg-right {
    /* outline: 2px solid var(--primary-color); */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seg-right img {
    width: 100%;
    display: block;
    height: auto;
    max-width: 56.25rem;
}

.seg-cpv-text {
    text-align: center;
}

.seg-cpv {
    outline: 2px solid var(--primary-color);
}

.seg-cpv-text h2 {
    font-size: 3.5rem;
    color: #FFFFFF;
}

.seg-cpv-text span {
    color: var(--primary-color);
}

.seg-cpv-text p {
    color: #77777D;
    margin-top: 5px;
    font-size: 1.4rem;
}

.seg-cpv-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.seg-cpv-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #A0A3A8;
    padding: 26px;
    border-radius: 10px;
}

.seg-cpv-card-text h2 {
    margin-top: 1rem;
    color: #FFFFFF;
}

.seg-cpv-card-text p {
    margin-top: 0.5rem;
    color: #77777D;
}

/* #seguranca {
    outline: 2px solid var(--primary-color);
    display: flex;
    flex: 1.2;
    align-items: center;
    gap: 5rem;
} */

/* .seg-right img {
    max-width: 100%;
    display: block;
    height: auto;
    max-width: 999px;
} */